.Progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: var(--breadcrumbs-background);
    min-height: var(--breadcrumbs-height);
    height: 7rem;
    padding-bottom: 2rem;
    
    .bar {
        position: absolute;
        background-color: #c3c3c3;
        width: 100%;
        height: 5px;
        top: 16px;
        left: 0;
        transform: translateY(-25%);
        transition: all 0.5s ease;
    }
    
    .bar-completed {
        @extend .bar;
        background-color: var(--primary-base-color);
    }
    
    .step {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        transition-property: all;
        transition-timing-function: ease;
        
        .outer-margin {
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--breadcrumbs-background);
        }
        
        .step-index {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0a0a0a70;
            background-color: #c3c3c3;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
        
        .step-name {
            font-size: 1.6rem;
            color: #0A0A0A;
            opacity: .5;
        }
        
    }
    
    .active, .completed {
        .step-index {
            color: #fff;
            background-color: var(--primary-base-color);
        }
        
        .step-name {
            color: #0A0A0A;
            opacity: 1;
        }
    }
}
